* {
  font-family: Arial, Helvetica, sans-serif;
}

.sidebar {
  width: 220px;
  height: 100%;
  border-right: 1px solid #ccc;
  background-color: white;
  position: fixed;
  top: 0;
  left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 25px;
}

.sidebar a {
  color: #191970;
  text-decoration: none;
  padding: 10px;
  transition: background-color 0.3s;
  font-size: 1.1rem;
  display: inline;
  border-radius: 20px;
}

.sidebar a:hover {
  background-color: rgba(100, 160, 219, 0.195);
}

.sidebar i {
  margin-right: 10px;
}

.sidebar a.active {
  background-color: rgba(100, 160, 219, 0.501);
}

.logoutLink {
  width: 30%;
  display: inline;
}

.logo-container {
  margin-left: 60px;
  font-size: 90px;
  color: #191970;
}

/* --------------------CSS PADRÃO----------------------- */
.main-all {
  margin-left: 230px;
}
.main-header {
  text-align: left;
  margin-left: 20px;
}

.main-title {
  font-size: 30px;
  color: #191970;
  margin-left: 0;
}

.main-subtitle {
  font-size: 16px;
  font-weight: lighter;
  margin: 0;
  color: #a9a9a9;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.main-container {
  margin-top: 80px;
}

.main-title2 {
  margin: 0;
  font-size: 19px;
}

.resultado-negativo {
  margin: 20px;
  font-size: 12px;
  margin-bottom: 100px;
}

.container-add-button {
  width: 95%;
  text-align: end;
  margin: 15px;
}

.add-button {
  background-color: #00ff7f;
  color: black;
  padding: 4px 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.add-button:hover {
  background-color: #3ba16e;
}

/* --------------------FIM CSS PADRÃO----------------------- */

.home {
  margin-left: 250px;
}

.recursosHumanos {
  margin-left: 250px;
}

.despesas {
  margin-left: 250px;
}

.titulo-despesa {
  padding: 10px 20px;
  font-size: 19px;
}

.faturamento {
  margin-left: 250px;
}

.suporte {
  margin-left: 250px;
}

/* Modal Início */

.modal-container {
  position: absolute;
  width: 50%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 300;
  padding: 1.5rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.modal-container-fechar {
  position: absolute;
  width: 50%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 300;
  padding: 1.5rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.buttons-modal-fechar {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}

.form-modal {
  width: 80%;
  text-align: center;
}

.modal-inputs {
  width: 100%;
  justify-content: space-evenly;
}

.modal-labels {
  display: inline-block;
  width: 30%;
}

.modal-inputs input {
  width: 50%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  border: 1px solid #a9a9a9;
  margin: 15px;
}

.fecharModal {
  width: 100%;
  text-align: end;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

/* Modal Fim */

/* Componente Calendário Início */

.input-calendario {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  border-top: 10px solid #4d4b76;
  width: 220px;
}

/* Componente Calendário Fim */

/* Componente Módulos Início */

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  width: auto;
  height: 2rem;
  padding: 10px;
}

.table tr {
  height: 4rem;
}

.table td {
  border-top: 2px solid rgba(67, 70, 89, 0.15);
  text-align: center;
}

.table-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.table-buttons button {
  font-size: 1rem;
  padding: 1px 25px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.edit-button {
  background-color: rgba(10, 55, 110, 0.5);
}

.delete-button {
  background-color: rgba(255, 65, 65, 0.7);
}

.modulo-vazio {
  height: 100px;
  border: 2px solid red;
}

/* Componente Módulos Fim */

/* ---------------Início de construção css págiona de login--------------- */

#box-login {
  /* border: 1px solid red; */
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#input-position {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  /* margin: 10px; */
  width: 20vw;
  height: 30vh;
  justify-content: center;
}

#input-position input:focus {
  outline: none;
}

.login-title {
  font-weight: lighter;
  font-size: 40px;
  /* border: 2px solid yellow; */
  width: 20vw;
}

.user-input {
  border-left: none;
  border-top: none;
  border-right: none;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: lighter;
  height: 40px;
}

.password-input {
  border-left: none;
  border-top: none;
  border-right: none;
  margin-bottom: 40px;
  font-size: 18px;
  height: 40px;
}

.enter-btn {
  background-color: #0a376e;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 20px;
  font-weight: lighter;
  padding: 1px;
  height: 40px;
  cursor: pointer;
}

.enter-btn:hover {
  background-color: #74a9e9;
  color: black;
}

#teste {
  padding: 30px;
  border-radius: 10px;
  
}

/* ---------------FIM de construção css págiona de login--------------- */

/* CSS Faturamento Chart Início */

.chart-container {
  width: 100%;
  display: flex;
  margin-left: 0.5rem;
}

.chart-item {
  width: 70%;
  display: flex;
}

.circle-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle {
  border-radius: 50%;
  width: 120px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle h1 {
  font-size: 1.8rem;
  color: #222222;
}

/* CSS Faturamento Chart Fim */


@media (max-width: 1150px){
  body{
    margin: 0;
  }

  #root{
    display: flex;
    flex-direction: column;
    /* border: 2px solid green; */
    width: 300vw;
    height: auto;
    align-items: center;
    margin: 0;
    
  }

  .sidebar {
    /* border: 2px solid red; */
    width: 100%;
    height: 50vh;
    /* border-right: 1px solid #ccc; */
    background-color: white;
    position: relative;
    top: 10px;
    left: 0;
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    /* border: #0a376e 2px solid; */
    display: flex;
    width: 100%;
    height: 50%;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
  .sidebar li {
    margin-bottom: 0px;
    /* border: #00ff7f solid 2px; */
    padding: 20px;
  }
  
  .sidebar a {
    color: #191970;
    text-decoration: none;
    padding: 0px;
    transition: background-color 0.3s;
    font-size: 1.1rem;
    display: inline;
    border-radius: 20px;
    /* border: #00ff7f solid 2px; */
    font-size: 40px;
    width: 40%;
  }
  
  .sidebar a:hover {
    background-color: rgba(100, 160, 219, 0.195);
  }
  
  .sidebar i {
    margin-right: 10px;
  }
  
  .sidebar a.active {
    background-color: rgba(100, 160, 219, 0.501);
    padding: 12px;
    border-radius: 40px;
  }
  
  .logoutLink {
    /* border: #192764 solid 2px; */
    text-align: center;    
    width: 11% !important;
  }
  
  .logo-container {
    margin: 0;
    font-size: 90px;
    color: #191970;
    width: 100%;
    text-align: center;
    /* border: 2px solid blue; */
  }
  
  /* --------------------CSS PADRÃO----------------------- */
  .main-all {
    margin-top: 100px;
    margin-left: 0px;
    display: flex;
    flex-direction: column;
    /* border: 2px solid green; */
    width: 300vw;
    border-top: #a9a9a9 solid 1px;
  }
  .main-header {
    text-align: left;
    margin-left: 20px;
  }
  
  .main-title {
    font-size: 4rem;
    color: #191970;
    margin-left: 0;
  }
  
  .main-subtitle {
    font-size: 30px;
    font-weight: lighter;
    margin: 0;
    color: #a9a9a9;
  }
  
  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .main-container {
    margin-top: 80px;
  }
  
  .main-title2 {
    margin: 0;
    font-size: 45px;
    margin-bottom: 40px;
  }
  
  .resultado-negativo {
    margin: 20px;
    font-size: 12px;
    margin-bottom: 100px;
  }
  
  .container-add-button {
    width: 95%;
    text-align: end;
    margin: 15px;
    
  }
  
  .add-button {
    background-color: #00ff7f;
    color: black;
    padding: 4px 16px;
    border: none;
    cursor: pointer;
    height: 8vh;
    font-size: 35px;
  }
  
  .add-button:hover {
    background-color: #3ba16e;
  }
  
  /* --------------------FIM CSS PADRÃO----------------------- */

  /* Componente Módulos Início */

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  width: auto;
  height: 2rem;
  padding: 10px;
  font-size: 35px;
}

.table tr {
  height: 4rem;
  font-size: 30px;
  height: 150px;
}

.table td {
  border-top: 2px solid rgba(67, 70, 89, 0.15);
  text-align: center;
  font-size: 40px;
}

.table-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.table-buttons button {
  font-size: 2rem;
  padding: 1px 25px;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.edit-button {
  background-color: rgba(10, 55, 110, 0.5);
  height: 8vh;
}

.delete-button {
  background-color: rgba(255, 65, 65, 0.7);
  height: 8vh;
}

.modulo-vazio {
  height: 100px;
  border: 2px solid red;
}

/* Componente Módulos Fim */

/* Componente Calendário Início */

.input-calendario {
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
  font-size: 2rem;
  border-top: 10px solid #4d4b76;
  width: 90vw;
  height: 8vh;
  margin-bottom: 30px;  
}

/* Componente Calendário Fim */

/* Modal Início */

.modal-container {
  position: absolute;
  width: 250vw;
  height: 130vh;
  top: 50%;
  left: 50%;
  transform: translate(-10%, 20%);
  z-index: 300;
  padding: 1.5rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.container-modal{
  margin: 20px;
  height: 20%;
  /* border: #00ff7f solid 2px; */
  font-size: 2rem;
  width: 100%;
  display: inline-flex;
}

.modal-container-fechar {
  position: absolute;
  width: 140%;
  height: 60vh;
  top: 50%;
  left: 50%;
  transform: translate(20%, 100%);
  z-index: 300;
  padding: 1.5rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
}
.buttons-modal-fechar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

.form-modal {
  width: 80%;
  text-align: center;
}

.modal-inputs {
  width: 100%;
  justify-content: space-evenly;
  /* border: #191970 solid 2px; */
  margin-bottom: 40px;
}

.modal-labels {
  display: flex;
  width: 50%;
  /* border: red 2px solid; */
  align-items: center;
}

.modal-inputs input {
  width: 60%;
  height: 60px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  border: 1px solid #a9a9a9;
  margin: 15px;
  font-size: 2rem;
}

.fecharModal {
  width: 100%;
  text-align: end;
  font-size: 1.5rem;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

h3{
  font-size: 3rem;
}



/* Modal Fim */

/* ---------------Início de construção css págiona de login--------------- */

#box-login {
  border: 1px solid red;
  height: 299vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#input-position {
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  /* margin: 10px; */
  width: 100%;
  height: 40%;
  justify-content: center;
}

#input-position input:focus {
  outline: none;
}

.login-title {
  font-weight: lighter;
  font-size: 5rem;
  /* border: 2px solid yellow; */
  width: 100%;
  height: 10%;
}

.user-input {
  margin-bottom: 15%;
  font-size: 3rem;
  font-weight: lighter;
  height: 15%;
}

.password-input {
  margin-bottom: 15%;
  font-size: 3rem;
  height: 15%;
  
}

.enter-btn {
  background-color: #0a376e;
  border: none;
  border-radius: 10px;
  color: #fff;
  font-size: 3rem;
  font-weight: lighter;
  padding: 1px;
  height: 18%;
  cursor: pointer;

}

.enter-btn:hover {
  background-color: #74a9e9;
  color: black;
}

#teste {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 50%;
  /* border: #00ff7f solid 2px; */
  border-radius: 10px;
  margin-bottom: 10%;
}

/* ---------------FIM de construção css págiona de login--------------- */


}